version: '2'

services:

  git:
    extends:
      file: services/git/git.yml
      service: git
    links:
      - 'db'
    depends_on:
      - 'db'

  mopidy:
    extends:
      file: services/mopidy/mopidy.yml
      service: mopidy
    
  nextcloud:
    extends:
      file: services/nextcloud/nextcloud.yml
      service: nextcloud
    links:
      - 'db'
    depends_on:
      - 'db'
    
  drone_server:
    extends:
      file: services/drone/drone.yml
      service: drone_server
    links:
      - git

  drone_agent:
    extends:
      file: services/drone/drone.yml
      service: drone_agent
    links:
      - drone_server
    depends_on:
      - drone_server

  netdata:
    extends:
      file: services/netdata/netdata.yml
      service: netdata

  node_red:
    extends:
      file: services/nodered/nodered.yml
      service: node_red

  paperless_web:
    extends:
      file: services/paperless/paperless.yml
      service: paperless_web
    depends_on:
      - 'paperless_consumer'

  paperless_consumer:
    extends:
      file: services/paperless/paperless.yml
      service: paperless_consumer

  db:
    extends:
      file: services/db/db.yml
      service: db
    
  proxy:
    extends:
      file: services/proxy/proxy.yml
      service: proxy

  dns:
    extends:
      file: services/dns/dns.yml
      service: dns

volumes:
  db-data:
  git-data:
  nextcloud-data:
  drone:
  node-red-data:
  paperless-data:
  paperless-media:
