version: '2'

services:

  git:
    image: 'gogs/gogs'
    volumes:
      - git-data:/data
    links:
      - 'db'
    depends_on:
      - 'db'
    env_file: git.env
    restart: always

  mopidy:
    image: 'wernight/mopidy'
    volumes:
      - ./mopidy/media:/var/lib/mopidy/media:ro
      - ./mopidy/local:/var/lib/mopidy/local
      - ./mopidy-cmd.sh:/mopidy-cmd.sh
      - ./podcasts.opml:/podcasts.opml:ro
    command: /mopidy-cmd.sh
    env_file: mopidy.env
    restart: always

  nextcloud:
    image: 'nextcloud'
    volumes:
      - nextcloud-data:/var/www/html
    env_file: nextcloud.env
    links:
      - 'db'
    depends_on:
      - 'db'
    restart: always

  huginn:
    image: 'huginn/huginn'
    env_file: huginn.env
    links:
      - 'db'
    depends_on:
      - 'db'
    restart: always

  paperless_web:
    image: 'danielquinn/paperless'
    volumes:
      - paperless-data:/usr/src/paperless/data
      - paperless-media:/usr/src/paperless/media
    env_file: paperless.env
    environment:
      - PAPERLESS_OCR_LANGUAGES=
    expose:
      - '8000'
    command: ["runserver", "--insecure", "0.0.0.0:8000"]

  paperless_consumer:
    image: 'danielquinn/paperless'
    depends_on:
      - 'paperless_web'
    volumes:
      - paperless-data:/usr/src/paperless/data
      - paperless-media:/usr/src/paperless/media
      - ./paperless/consume:/consume
    env_file: paperless.env
    command: ["document_consumer"]

  db:
    image: 'postgres'
    env_file: db.env
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./postgres-users.sql:/docker-entrypoint-initdb.d/postgres-users.sql
    restart: always
    
  proxy:
    image: jwilder/nginx-proxy
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./proxy.conf:/etc/nginx/conf.d/proxy.conf:ro
    depends_on:
      - 'git'
      - 'mopidy'
      - 'nextcloud'
      - 'huginn'
      - 'paperless_web'
    restart: always

  dns:
    image: andyshinn/dnsmasq
    ports:
      - '53:53/tcp'
      - '53:53/udp'
    cap_add:
      - NET_ADMIN
    volumes:
      - ./dnsmasq.conf:/etc/dnsmasq.conf
    restart: always

volumes:
  git-data:
  db-data:
  nextcloud-data:
  paperless-data:
  paperless-media:
