version: '2'

services:

  git:
    extends:
      file: services/git/git.yml
      service: git
    links:
      - 'db'
    depends_on:
      - 'db'

  mopidy:
    extends:
      file: services/mopidy/mopidy.yml
      service: mopidy
    
  nextcloud:
    extends:
      file: services/nextcloud/nextcloud.yml
      service: nextcloud
    links:
      - 'db'
    depends_on:
      - 'db'
    
  huginn:
    extends:
      file: services/huginn/huginn.yml
      service: huginn
    links:
      - 'db'
    depends_on:
      - 'db'
    
  paperless_web:
    extends:
      file: services/paperless/paperless.yml
      service: paperless_web
    
  paperless_consumer:
    extends:
      file: services/paperless/paperless.yml
      service: paperless_consumer

  drone_server:
    extends:
      file: services/drone/drone.yml
      service: drone_server
    links:
      - git
    depends_on:
      - git

  drone_agent:
    extends:
      file: services/drone/drone.yml
      service: drone_agent
    links:
      - drone_server
    depends_on:
      - drone_server
    
  db:
    extends:
      file: services/db/db.yml
      service: db
    
  proxy:
    extends:
      file: services/proxy/proxy.yml
      service: proxy
    depends_on:
      - 'git'
      - 'mopidy'
      - 'nextcloud'
      - 'huginn'
      - 'paperless_web'
      - 'drone_server'

  dns:
    extends:
      file: services/dns/dns.yml
      service: dns

volumes:
  paperless-data:
  paperless-media:
  db-data:
  git-data:
  nextcloud-data:
  drone:
