CREATE USER gogs WITH PASSWORD '';
CREATE DATABASE gogs;
GRANT ALL PRIVILEGES ON DATABASE gogs TO gogs;

CREATE USER nextcloud WITH PASSWORD '';
CREATE DATABASE nextcloud;
GRANT ALL PRIVILEGES ON DATABASE nextcloud TO nextcloud;

CREATE USER huginn WITH PASSWORD '';
CREATE DATABASE huginn;
GRANT ALL PRIVILEGES ON DATABASE huginn TO huginn;
